@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,700;1,400&display=swap');
:root{
    --primary-color: #1D40A1;
    --dark-blue: #192440;
}
*{ 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', Arial, Helvetica, sans-serif; */
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
}
body{
    background: #F2F3F5;
}
.container{
    padding: 24px;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    display: block;
    width: 100%;
}
.row{
    display: flex;
}
.row--header{
    justify-content: space-between;
    align-items: center;
}
.button--primary{
    background-color: var(--primary-color);
    color: white;
    border-radius: 50px;
    text-decoration: none;
    padding: 14px 37px;
    margin-top: 30px;
    display: table;
    font-size: 18px;
    font-weight: 400;
    transition: all ease 0.4s;
}
.button--primary:hover{
    background-color: white;
    color: var(--primary-color);
}
.button--secondary{
    background-color: white;
    color: var(--primary-color);
    border-radius: 50px;
    text-decoration: none;
    padding: 14px 37px;
    margin-top: 30px;
    display: table;
    font-size: 18px;
    font-weight: 400;
    transition: all ease 0.4s;    font-weight: bold;
    font-size: 16px;
}
.button--secondary:hover{
    background-color: var(--primary-color);;
    color: white
}

@media (max-width:750px){
    .container{width: 100%;max-width: 100%;}
}
.text-center{
    text-align: center;
}
.pb-0{padding-bottom: 0px;}