*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 
:root{
  --primary-color: #15083a;
}
.App{
  text-align: center;
  color: var(--primary-color);
  width: 400px;
  display: block;
}
.pokemon--list{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}
